@tailwind base;
@tailwind components;
@tailwind utilities;

.kat-grid-cell {
  @apply bg-gray-500 text-white text-center text-xl p-3;
}
.kat-list-item-cell {
  @apply hover:bg-opacity-40 hover:bg-gray-500 hover:text-white
    p-5 rounded;
}
